@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #444;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 10px auto;
}

.container  {
    margin: 0 auto;
    padding: 20px;
    width: 350px;
    max-width: 100vw;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

p {
    font-family: inherit;
    font-weight: bold;
    background-color: #fff;
    width: 40%;
    height: 80px;
    border: 2px solid #333;
    border-radius: 99px;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.04);
    transition: transform, 0.2s;
}

p:active {
    border: 2px solid blue;
    transition: border, 5s;
}

button {
    color: inherit;
    background-color: #fff;
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 10px;
    margin: 15px;
    border: 2px solid #d1d5db;
    border-radius: 15px;
    width: 100px;
    min-width: fit-content;
}

button:hover {
    cursor: pointer;
    background-color: #d1d5db;
    filter: brightness(1.1);
    transform: scale(1.02);
    transition: transform, 0.2s;
}

/* colors */
#red {
    background-color: #f87171;
}

#orange {
    background-color: #fdba74;
}
#yellow {
    background-color: #fef08a;
}
#green {
    background-color: #86efac;
}
#blue {
    background-color: #93c5fd;
}
#purple {
    background-color: #d8b4fe;
}
#pink {
    background-color: #f9a8d4;
}
#brown {
    background-color: #C4A484;
}
#white {
    background-color: #fff;
}
#black {
    background-color: #333;
}